{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
    'section-title',
    field_name_class|trim('field-issue')
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {% endif %}
  {% if items is iterable %}
    <ul{{ content_attributes.addClass('field-items') }}>
      {% for item in items %}
        <li{{ item.attributes.addClass('field-item') }}>{{ item.content }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <div{{ item.attributes.addClass('field-item') }}>{{ item.content }}</div>
  {% endif %}
</div>
